<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>{{ friend.username }}</li>
                <form action="{% url 'direct_or_create' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ friend.id }}">
                <button type="submit">Написать</button>
                </form>
            <form method="post" action="{% url 'fri_req:delete_friend' friend.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить друга??')">Удалить из друзей</button>
            </form>

            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет друзей.</p>
    {% endif %}

</body>
</html>