{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'ChatAPI/css/chats.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="brand">
                <h2>{{ user.username }}</h2>
            </div>
            <div class="actions">
                <a href="{% url 'friend_requests:incoming_friend_requests'%}">Уведомления ({{ count_requests }})</a>
                <a href="{% url 'friend_requests:friends' %}">Друзья</a>
                <a href="{% url 'friend_requests:search_users' %}"> Найти друзей </a>
                <a href="{% url 'create-chat' %}" class="chat-item">Создать групповой чат</a>
                <a href="{% url 'logout' %}">Выйти из аккаунта</a>
            </div>
        </div>

        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}


        <div class="chat-section">
            <div class="chat-list">
                <h2>Групповые чаты</h2>
                {% for i in serializer %}
                    <div class="chat-item">
                        <a href="{% url 'chat' i.pk %}">{{ i.group_name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="search-section">
            <div class="create-object-form">
                <h2>Поиск чатов</h2>
                <form method="get" action="{% url 'chats' %}">
                    {% for f in filter.form %}
                        <p class="form-group">
                            <label class="form-control" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                            {{ f }}
                        </p>
                        {% if f.errors %}
                            <div class="form-error">{{ f.errors }}</div>
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Найти</button>
                </form>
            </div>
        </div>

        <div class="user-section">
            <div class="user-list">
                <h2>Ваши друзья</h2>
                {% for user in filter_serializer %}
                    <div class="user-item">
                        <a href="{% url 'direct' user.id %}">{{ user.username }}</a>
                    </div>
                    {% empty %}
                    <div> У вас нет друзей.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>