{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div id="chat-window">
        {% include 'ChatAPI/messages.html' %}
    </div>

    <form method="post" hx-post="{% url 'direct' user_id=user_id %}" hx-target="#chat-window" hx-swap="innerHTML">
        {% csrf_token %}
        {% for f in form %}
            <div>
                <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
                {{ f }}
            </div>
        {% endfor %}
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        <p><button type="submit">Отправить сообщение</button></p>
    </form>

    <script>
        // Обновление после успешного запроса
        let chatWindow = document.getElementById('chat-window');
        chatWindow.addEventListener('htmx:afterSwap', (event) => {
            // Прокрутка вниз
            chatWindow.scrollTop = chatWindow.scrollHeight;
        });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Слушаем событие htmx:afterSwap, которое срабатывает после обновления элемента
        document.body.addEventListener('htmx:afterSwap', function (event) {
            // Находим форму по её селектору
            var form = document.querySelector('form[hx-post]');
            if (form) {
                // Очищаем поле ввода сообщения
                form.reset();
            }
        });
    });
</script>


</body>
</html>