<ul id="chat-messages">
    {% for message in serializer %}
        <li class="{% if message.sender.id == request.user.id %}user-message{% else %}other-message{% endif %}">
            <div>
                <strong>{{ message.sender.username }}</strong>: {{ message.body }} <em>({{ message.date_sent }})</em>


                {% if message.sender.id == request.user.id %}
                    <form method="post" action="{% url 'delete_message' message.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">удалить</button>
                    </form>
                {% endif %}


                <button onclick="replyToMessage({{ message.id }})">ответить</button>


                {% if message.replies.exists %}
                    <ul class="replies">
                        {% for reply in message.replies.all %}
                            <li class="reply">
                                <strong>{{ reply.sender.username }}</strong>: {{ reply.body }} <em>({{ reply.date_sent }})</em>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<script>

    function replyToMessage(messageId) {
        var replyToInput = document.getElementById('id_reply_to');
        if (replyToInput) {
            replyToInput.value = messageId;
            alert('ответить на сообщение с ID ' + messageId);
        }
    }
</script>